<section class="contact-section-a">
  <h2>Contacto</h2>
  <p>¿Tienes un proyecto o idea en mente? No dudes en escribirme. Me encanta colaborar y crear cosas nuevas.</p>

      <p>Puedes contactarme a través de mis redes sociales:</p>

  <!-- Información de contacto -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="contact-info">

  <a href="https://www.linkedin.com/in/irene-jurado-castillo-7aa91b346/" target="_blank" rel="noopener" class="icon-link">
    <i class="fab fa-linkedin"></i>
  </a>

  <a href="https://github.com/IF1Else2" target="_blank" rel="noopener" class="icon-link">
    <i class="fab fa-github"></i>
  </a>
</div>

<footer>
 
  <p>&copy; 2025 Irene Jurado. Todos los derechos reservados.</p>
</footer>

