<div class="about-section">
  <div class="about-container">
    <!-- Columna izquierda: Foto -->
    <div class="about-image">
      <img src="assets/images/fotoIrene.png" alt="Irene">
    </div>

    <!-- Columna derecha: Texto -->
    <div class="about-text">
<h1>Sobre mí</h1>
<h2>Desarrolladora <span class="highlight">Multiplataforma</span></h2>

<p>Hola, soy <span class="highlight">Irene</span>, desarrolladora de aplicaciones multiplataforma con especial interés en crear soluciones funcionales, intuitivas y eficientes.</p>

<p>Tengo experiencia en el desarrollo de aplicaciones <span class="highlight">Java</span>, tanto de escritorio como móviles. He trabajado con herramientas como <span class="highlight">Android Studio</span>, <span class="highlight">MySQL Workbench</span>, <span class="highlight">HTML</span> y <span class="highlight">CSS</span>. Actualmente, estoy ampliando mis conocimientos en tecnologías web modernas como <span class="highlight">Angular</span> y <span class="highlight">TypeScript</span>.</p>

<p>Me apasiona aprender continuamente y aplicar nuevos conocimientos para mejorar mis proyectos. Disfruto enfrentando retos tecnológicos y creando software que aporte valor real a los usuarios.</p>

</div>
