<div class="content-box scroll-anim">

  <h1 class="scroll-anim">Hola, soy Irene</h1>

  <p class="scroll-anim">
    Desarrolladora de aplicaciones <span class="highlight">especializada en Java</span> y aprendiendo otras tecnologías.
  </p>

  <p class="scroll-anim">
    Hago aplicaciones <span class="highlight">modernas, eficientes</span> y <span class="highlight">fáciles de usar</span>.
  </p>

  <div class="tech-icons">
    <div class="tech-icon scroll-anim">
      <img src="assets/images/javasvg.svg" alt="Java Logo" width="50">
    </div>

    <div class="tech-icon scroll-anim">
      <img src="assets/images/androidStudiosvg.svg" alt="AndroidStudio Logo" width="50">
    </div>

    <div class="tech-icon scroll-anim">
      <img src="assets/images/html5Logo.svg" alt="HTML Logo" width="50">
    </div>

    <div class="tech-icon scroll-anim">
      <img src="assets/images/cssLogo.svg" alt="CSS Logo" width="50">
    </div>

    <div class="tech-icon scroll-anim">
      <img src="./assets/images/mysqlLogo.svg" alt="MySQL Logo" width="50">
    </div>

    <div class="tech-icon scroll-anim">
      <img src="./assets/images/angularLogo.svg" alt="Angular Logo" width="50">
    </div>
  </div>

</div>








